.bloc1{
    display: flex;
    justify-content: center;

}

.bloc2{
    background-color:rgba(91, 85, 79, 1);
    position: relative;
    margin-bottom: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    p{
        color: aliceblue;
    }
    img{
        position: absolute;
        width: 300px;
        height: 300px;
        left: 1082px;
        top: -50px;
    }
}

@media screen and (max-width: 320px) {
    .bloc2{
        background-color: aqua;
        position: relative;

        img{
            display: none;
        }
    }
  }